.follow-btn {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.followed-btn {
    border-radius: 4px;
    border: 1px solid skyblue;
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: deepskyblue;
    background-color: whitesmoke;

}

.orange-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.buy-price {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    float: right;
}

.menu-bar {
    display: none;
}

.login-btn {
    text-decoration: none;
    color: #333;
}

.comment-btn {
        float: right;
        margin-top: 10px;
        text-decoration: none;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 13px 28px;
        background-color: darkblue;
        color: white;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
}

.head-user-hidden {
    display: none;
}

.search-input {
    height: 32px;
    width: 200px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 10px;
}

.search-btn {
    height: 30px;
    width: 50px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}
// 投稿するボタン
.create-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 80px;
}

// カテゴリーボタン投稿詳細画面
.category-btn {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
    background-color: #1c8b00;
    color: white;
    font-weight: bold;
    text-align: center;
}

// お仕事の詳細ボタン
.tell-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: #0068b7;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
    margin-right: 30px;

    .syousai-btn {
        text-decoration: none;
        color: white;
    }
}