.follow-btn {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.followed-btn {
    border-radius: 4px;
    border: 1px solid skyblue;
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: deepskyblue;
    background-color: whitesmoke;

}

.orange-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.buy-price {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    float: right;
}

.menu-bar {
    display: none;
}

.login-btn {
  text-decoration: none;
  color: #333;
}

.comment {
    .orange-btn {
        float: right;
        margin-top: 10px;

    }
}

.head-user-hidden {
    display: none;
}

.search-input {
    height: 32px;
    width: 200px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 10px;
}

.search-btn {
    height: 30px;
    width: 50px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkcyan;
    color: white;
}
// 投稿するボタン
.create-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 80px;
}

// カテゴリーボタン
.category-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.tell-btn {
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
}