.container {
  width: 1000px;
  margin: 0 auto;;
  height: 100%;
  padding-top: 100px;
  display: flex;
  background-color: snow;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;

  .main {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    // background-color: lightgrey;

    .user1 {
      height: 250px;
      width: 100%;
      margin-bottom: 20px;
      display: flex;
    
      .user1-content {
        height: 100%;
        width: 240px;
        margin-bottom: 20px;
        margin-right: 10px;
        border-radius: 1px solid #333;
        box-shadow: 0 0 8px gray;
        cursor: pointer;

        .content-image {
          height: 170px;
          width: 100%;
          
        }

        .user1-content__title {
          font-weight: bold;
          text-align: center;
          margin-top: 10px;

          .content-title {
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            color: #337ab7;
          }
        }

        .user1-content__name {
          font-weight: bold;
          text-align: center;
          margin-top: 0px;
        }
      }
    }
    
    .user2 {
      height: 250px;
      width: 100%;
      margin-bottom: 20px;
      display: flex;

      .user2-content {
        height: 100%;
        width: 240px;
        margin-bottom: 20px;
        margin-right: 10px;
        border-radius: 1px solid #333;
        box-shadow: 0 0 8px gray;
        cursor: pointer;

        .content-image {
          height: 170px;
          width: 100%;
          
        }

        .user2-content__title {
          font-weight: bold;
          text-align: center;
          margin-top: 10px;
          
          .content-title {
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            color: #337ab7;
          }
        }

        .user2-content__name {
          font-weight: bold;
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .user3 {
      height: 250px;
      width: 100%;
      margin-bottom: 20px;
      display: flex;

      .user3-content {
        height: 100%;
        width: 180px;
        margin-bottom: 20px;
        margin-right: 10px;
        box-shadow: 0 0 8px gray;
        cursor: pointer;

        .user3-content__image {
          height: 180px;
        
          .user3-icon {
            height: 155px;
            width: 155px;
            margin-top: 15px;
            margin-left: 9px;
            border: 2px solid lightgray;
            border-radius: 200px;
          }
        }
        

        .user3-content__name {
          text-align: center;
          font-weight: bold;
          margin-top: 20px;

          .content-name {
            text-decoration: none;
            font-weight: bold;
            color: #337ab7;
          }
        }
      }
    }

    .user4 {
      height: 800px;
      width: 100%;
      margin-bottom: 20px;
      
      .user4-content {
        height: 170px;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 0 8px gray;
        display: flex;

        .user4-content__left {
          width: 75%;
          display: flex;
          

          .user4-content__left-profile {
            width: 35%;

            .user4-content__left-profile-image {
              height: 130px;
              width: 100%;

              .user4-icon {
                height: 120px;
                width: 120px;
                margin-left: 35px;
                margin-top: 10px;
                border-radius: 100px;
                border: 2px solid lightgrey
              }
            }

            .user4-content__left-profile-name {
              text-align: center;
              font-weight: bold;
              margin-top: 10px;
            }
          }

          .user4-content__left-work {
            width: 65%;

            .user4-content__left-work-title {
              height: 90px;
              font-size: 18px;
              font-weight: bold;
              margin-right: 20px;
              margin-top: 30px;

              .content-title {
                text-decoration: none;
                color: #337ab7;
                padding-top: 30px;
              }
            }

            .user4-content__left-work-bottom {
              height: 50px;
              display: flex;
              

              .user4-content__left-work-category {
                width: 50%;
                margin-top: 10px;

                #category {
                  border-radius: 4px;
                  font-size: 14px;
                  padding: 7px 12px;
                  background-color: midnightblue;
                  color: white;
                  font-weight: bold;
                }
              }

              .user4-content__left-work-price {
              width: 50%;
              margin-top: 10px;

                #text {
                  font-size: 14px;
                  font-weight: bold;
                }
                #price {
                  font-size: 14px;
                  font-weight: bold;
                  color: coral;
                }
                #mark {
                  font-size: 14px;
                  font-weight: bold;
                  color: coral
                }
              }
            }
          }
        }

        .user4-content__right {
          width: 25%;
        }
      }
    }


    .content:hover {
      background-color: #F2F5FB;
    }

    // .content {
    //   height: 500;
    //   width: 100px;
    //   border-radius: 6px;
    //   border: 1px solid #ccc;
    //   line-height: 1.5;
    //   padding-top: 10px;
    //   margin-bottom: 30px;
    //   cursor: pointer;
    //   box-shadow: 0 0 6px #ccc;
    //   // position: relative;
    //   -webkit-transition: all 0.3s ease;
    //   -moz-transition: all 0.3s ease;
    //   -o-transition: all 0.3s ease;
    //   transition: all  0.3s ease;

      // .content__top {
      //   height: 300px;
      //   width: 100%;
      //   text-align: center;
      //   margin-top: 10px;
      // }

      // .content__bottom {
      //   height: 200px;
      //   width: 100%;

      //   .content__title {
      //     padding: 20px 0px;
      //     text-align: center;
          
        //   .title {
        //     font-size: 25px;
        //     font-weight: bold;
        //     text-decoration: none;
        //     color: #333;display: block;
        //     // position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     padding-top: 330px;
        //   }
        // }
        // .content__text {
        //   height: 80px;
        //   width: 501px;
        //   padding: 10px 25px;
        // }
        // .content__user {
        //   padding: 0px 25px;
        // }
    //   }
    // }

  }
}

header {
  height: 60px;
  width: 100%;
  min-width: 900px;
  position: fixed;
  background-color: darkslategray;
  
  .header-btn {
    float: right;
    margin-top: 10px;
    
  }

  .header-search {
    float: right;
  
    .header-search-form {
      display: none;
      margin-right: 20px;
    }

    i#search {
      margin-right: 20px;
      margin-top: 10px;
      cursor: pointer;
      float: right;
    }
  }

  .header-user {
    float: right;
    
    i#user {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}


footer {
  height: 100px;
  width: 100%;
  
}

main {
  // background-color: linen;
}
body {
  margin: 0;
}

.logo {
  margin-left: 60px;
  margin-bottom: 20px;
}

.header-photo {
  width: 100%;
}