.main {


  .postImage {
    height: 300px;
    width: 100%;
    text-align: center;
  }

  .postTitle {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
  }

  .postAuthor {
  
    padding: 50px 30px;
    border-bottom: 1px solid #ccc;
  }

  .postGood {
    height: 70px;
    border-bottom: 1px solid #ccc;
  }

  .postText {
    padding-top: 30px;
    height: 300px;
  }
}

// cards/show　購入画面
.inner {

  .buy-content {
    height: 300px;
  }

  .buy-btn {
  
  }

  .buy-card {
    margin-top: 30px;
  }
}