.container {
  width: 900px;
  margin: 0 auto;;
  height: 100%;
  display: flex;
  // background-color: snow;
  // overflow: scroll;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;

  .main {
    margin: 10px 15px;
    height: 100%;
    width: 63%;
    // background-color: whitesmoke;

    .content {
      height: 500px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #ccc;
      line-height: 1.5;
      padding-top: 10px;
      margin-bottom: 30px;
      cursor: pointer;
      box-shadow: 0 0 6px #ccc;

      .content__top {
        height: 300px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
      }

      .content__bottom {
        height: 200px;
        width: 100%;

        .content__title {
          padding: 20px 0px;
          text-align: center;
          
          .title {
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
          }
        }
        .content__text {
          height: 80px;
          width: 501px;
          padding: 0px 25px;
        }
        .content__user {
          padding: 0px 25px;
        }
      }
    }

  }
  .side {
    width: 37%;
    height: 700px;
    padding-left: 30px;
    

    .side-top {
      height: 250px;
      border-bottom: 1px solid #ccc;
      // background-color: lightsteelblue;
    }

    .side-middle {
      height: 150px;
      border-bottom: 1px solid #ccc;
      // background-color: lightgoldenrodyellow;
    }

    .side-bottom {
      height: 300px;
      border-bottom: 1px solid #ccc;
      // background-color: ivory;
    }
    
  }

}

header {
  height: 60px;
  width: 100%;
  min-width: 900px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 5px whitesmoke;

  .header-btn {
    float: right;
    margin-top: 10px;
    
  }

  .header-search {
    float: right;
  
    .header-search-form {
      display: none;
      margin-right: 20px;
    }

    i#search {
      margin-right: 20px;
      margin-top: 12px;
      cursor: pointer;
    }
  }

  .header-user {
    float: right;
    i#user {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

footer {
  height: 100px;
  width: 100%;
  
}

main {
  // background-color: linen;
}

.logo {
  margin-left: 60px;
  margin-bottom: 20px;
}
