.main {


  .postImage {
    height: 300px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .postTitle {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
  }

  .postAuthor {
  
    padding: 50px 30px;
    border-bottom: 1px solid #ccc;
  }

  .postGood {
    height: 70px;
    border-bottom: 1px solid #ccc;
  }

  .postText {
    padding-top: 30px;
    height: 300px;
  }
}

// cards/show購入画面
.inner {

  .buy-content {
    height: 300px;
  }

  .buy-btn {
  
  }

  .buy-card {
    margin-top: 30px;
  }
}

.inner {

  .card-register {
    height: 400px;
  

    .card-register__list {
      height: 100px;

      .number {
        height: 35px;
        width: 350px;
        margin-bottom: 30px;
        font-size: 20px;
        border-radius: 3px;
      }

      select#exp_month {
        height: 35px;
        width: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        border-radius: 3px;

      }

      select#exp_year {
        height: 35px;
        width: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        border-radius: 3px;
      }

      .cvc {
        height: 35px;
        width: 350px;
        margin-bottom: 30px;
        font-size: 20px;
        border-radius: 3px;
      }
    }
  }
}

.card-register-btn {
      text-decoration: none;
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 10px 10px;
      margin-top: 20px;
      width: 350px;
      height: 45px;
      background-color: orangered;
      color: white;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
    }