.side {
  width: 25%;
  height: 900px;
  padding-left: 0px;

  .side-top {
    height: 250px;
    // border-bottom: 1px solid #ccc;
    
    .side-top__user {
      display: flex;
      .user-image {
        border-radius: 70px;
        border: 2px solid #ccc;
        margin-top: 25px;
      }

      .side-top__user-content {

      }
    }
  }

  .side-middle {
    height: 250px;
    // border-bottom: 1px solid #ccc;

    .side-middle__category-content {
      // margin: 10px 10px;
      border-radius: 6px;
      // border: 1px solid #3a3a3a;
      // height: 30px;
      width: 100%;
      position: relative;
      display: flex;
      margin-bottom: 10px;

      a {
        text-decoration: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        color: #333;
        }

      #user {
        padding-top: 4px;
      }
    }
  }
  .side-bottom {
    height: 300px;
    // border-bottom: 1px solid #ccc;
      
    .side-bottom-content {
      height: 100px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #ccc;
      cursor: pointer;
      margin-bottom: 20px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease;
    }

    .side-bottom-content:hover {
      background-color: #F2F5FB;
    }
  }
    
  
}