.container {
  .main {
    .status {
      margin-top: 70px;
    }
    .status p {
      height: 30px;
      border-bottom: 1px solid #ccc;
      margin-left: 30px;
      margin-right: 30px;
    }
    .top {
      margin-top: 70px;
    }
  }

}